<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @preference.animal %>
</p>

<p>
  <strong>Person:</strong>
  <%= @preference.person_id %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
